<form method='post' class="my-form">
    <p>
        <label>User Name:</label><br />
        <input type="text" id="login" name="login" required />
    </p>
    <p>
        <label>Password:</label><br />
        <input type="password" name="password" required />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>